@model IEnumerable<dynamic>
@using TechNews.Ultilities

@{
    var postId = 0;
}

<!-- Breaking News Start -->
<div class="container-fluid mt-5 mb-3 pt-3">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <div class="d-flex justify-content-between">
                    <div class="section-title border-right-0 mb-0" style="width: 180px;">
                        <h4 class="m-0 text-uppercase font-weight-bold">Tin nhanh</h4>
                    </div>
                    <div class="owl-carousel tranding-carousel position-relative d-inline-flex align-items-center bg-white border border-left-0"
                        style="width: calc(100% - 180px); padding-right: 100px;">
                        @foreach (var post in ((IEnumerable<Post>)ViewBag.Post).Where(p => p.IsActive ==
                        true).OrderByDescending(p => p.CreatedDate))
                        {
                            <div class="text-truncate">
                                <a class="text-secondary text-uppercase font-weight-semi-bold"
                                    href="/@Functions.TitleSlugGenerate("post", post.Title, post.PostId)">@post.Title</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breaking News End -->

<!-- News With Sidebar Start -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- News Detail Start -->
                <div class="position-relative mb-3">
                    @foreach (var item in Model.Select(i => i).DistinctBy(i => i.PostId))
                    {
                        postId = item.PostId;
                        <img class="img-fluid w-100" src="@item.Image" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">@item.MenuName</a>
                                <span>@Functions.GetDiffTime(item.CreatedDate)</span>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">@item.Title</h1>
                            <p>@Html.Raw(item.Content)</p>
                        </div>

                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="@item.AuthorAvatar" width="25" height="25" alt="">
                                <span>@item.AuthorName</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>@item.View</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>@item.CommentCount</span>
                            </div>
                        </div>
                    }
                </div>
                <!-- News Detail End -->

                <!-- Comment List Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">@ViewBag.Comments.Count Bình luận</h4>
                    </div>
                    @foreach (var item in ViewBag.Comments)
                    {
                        <div class="bg-white border border-top-0 p-4">
                            <div class="media mb-4">
                                <img src="https://cellphones.com.vn/sforum/wp-content/uploads/2023/10/avatar-trang-4.jpg" alt="Image" class="img-fluid mr-3 mt-1"
                                    style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold" href="">@item.Name</a>
                                        <small><i>@Functions.GetDiffTime(item.CreatedDate)</i></small>
                                    </h6>
                                    <p>@item.Content</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <!-- Comment List End -->

                <!-- Comment Form Start -->
                <div class="mb-3">
                    <div class="section-title mb-0">
                        <h4 class="m-0 text-uppercase font-weight-bold">Để lại bình luận</h4>
                    </div>
                    <div class="bg-white border border-top-0 p-4">
                        <form asp-controller="Post" asp-action="Comment">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Tên *</label>
                                        <input type="text" class="form-control" id="name" name="Name" required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email" name="Email" required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="message">Nội dung *</label>
                                <textarea id="message" cols="30" rows="5" class="form-control" name="Content"
                                    required></textarea>
                            </div>

                            <div class="form-group d-none">
                                <input class="form-control" name="PostId" value="@postId" />
                            </div>

                            <div class="form-group mb-0">
                                <input type="submit" value="Bình luận"
                                    class="btn btn-primary font-weight-semi-bold py-2 px-3">
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Comment Form End -->
            </div>

            @await Component.InvokeAsync("SidebarView")
        </div>
    </div>
</div>
<!-- News With Sidebar End -->