@using TechNews.Models
@using PagedList.Core.Mvc
@using TechNews.Ultilities
@model PagedList.Core.IPagedList<Account>

@{
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" clasa="main">
    <div class="pagetitle">
        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h1 class="card-title">Quản lý tài khoản</h1>
                            <div class="row">
                                <div class="col-4">
                                    <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Account"
                                        asp-action="Create">
                                        <i class="bi bi-file-earmark-text me-1"></i>Thêm tài khoản</a>
                                </div>
                                <div class="col-8">
                                    <div>
                                        <ul class="pagination float-end">
                                            <pager class="pager-container"
                                                options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly"
                                                list="@Model"></pager>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">AccountId</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.AccountId</th>
                                            <td>@item.Name</td>
                                            <td>@item.Email</td>
                                            <td>@item.GenderId</td>
                                            <td>@item.RoleId</td>
                                            <td class="text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="Account" asp-action="Edit"
                                                    asp-route-id="@item.AccountId" class="btn btn-primary btn-sm"
                                                    title="Chỉnh sửa tài khoản"><i class="bi bi-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Account" asp-action="Delete"
                                                    asp-route-id="@item.AccountId" class="btn btn-danger btn-sm"
                                                    title="Xóa tài khoản"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        </p>
    </div>
</main>