@using TechNews.Models
@using PagedList.Core.Mvc
@using TechNews.Ultilities
@model PagedList.Core.IPagedList<Post>

@{
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" clasa="main">
    <div class="pagetitle">
        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h1 class="card-title">Quản lý bài viết</h1>
                            <div class="row">
                                <div class="col-4">
                                    <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Post"
                                        asp-action="Create">
                                        <i class="bi bi-file-earmark-text me-1"></i>Thêm bài viết</a>
                                </div>
                                <div class="col-8">
                                    <div>
                                        <ul class="pagination float-end">
                                            <pager class="pager-container"
                                                options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly"
                                                list="@Model"></pager>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tiêu đề</th>
                                        <th scope="col">Tóm tắt</th>
                                        <th scope="col">Tác giả</th>
                                        <th scope="col">Trạng thái</th>
                                        <th scope="col">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.PostId</th>
                                            <td><a href="/@Functions.TitleSlugGenerate("post", item.Title, item.PostId)"
                                                    class="text-primary">@item.Title</a></td>
                                            <td>@item.Summary</td>
                                            <td>@item.AuthorId</td>
                                            <td>
                                                <span class="badge @(item.IsActive == false ? "bg-warning" : "bg-success")">
                                                    @(item.IsActive == false ? "Chờ duyệt" : "Đã duyệt")
                                                </span>
                                            </td>
                                            <td class="text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="Post" asp-action="Edit"
                                                    asp-route-id="@item.PostId" class="btn btn-primary btn-sm"
                                                    title="Chỉnh sửa bài viết"><i class="bi bi-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Post" asp-action="Delete"
                                                    asp-route-id="@item.PostId" class="btn btn-danger btn-sm"
                                                    title="Xóa bài viết"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        </p>
    </div>
</main>