@using TechNews.Models
@using PagedList.Core.Mvc
@using TechNews.Ultilities
@model PagedList.Core.IPagedList<Menu>

@{
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<main id="main" clasa="main">
    <div class="pagetitle">
        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h1 class="card-title">Quản lý danh mục</h1>
                            <div class="row">
                                <div class="col-4">
                                    <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Menu"
                                        asp-action="Create">
                                        <i class="bi bi-file-earmark-text me-1"></i>Thêm danh mục</a>
                                </div>
                                <div class="col-8">
                                    <div>
                                        <ul class="pagination float-end">
                                            <pager class="pager-container"
                                                options="@PagedListRenderOptions.Bootstrap4PageNumbersOnly"
                                                list="@Model"></pager>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">MenuName</th>
                                        <th scope="col">Levels</th>
                                        <th scope="col">ParentID</th>
                                        <th scope="col">Order</th>
                                        <th scope="col">Visible</th>
                                        <th scope="col">Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <th>@item.MenuId</th>
                                            <td><a href="/category/@item.MenuId"
                                                    class="text-primary">@item.MenuName</a></td>
                                            <td>@item.Level</td>
                                            <td>@item.ParentId</td>
                                            <td>@item.MenuOrder</td>
                                            <td>
                                                <span class="badge @(item.IsActive == false ? "bg-warning" : "bg-success")">
                                                    @(item.IsActive == false ? "Ẩn" : "Hiện")
                                                </span>
                                            </td>
                                            <td class="text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="Menu" asp-action="Edit"
                                                    asp-route-id="@item.MenuId" class="btn btn-primary btn-sm"
                                                    title="Chỉnh sửa danh mục"><i class="bi bi-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Menu" asp-action="Delete"
                                                    asp-route-id="@item.MenuId" class="btn btn-danger btn-sm"
                                                    title="Xóa danh mục"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </p>
    </div>
</main>