@using TechNews.Models;
@model IList<Menu>
@{
    Layout = "/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" clasa="main">
    <div class="pagetitle">
        <h2>Danh Sach Chuc Nang</h2>
        <p <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Menu" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1"></i>Add a menu</a>
        <section class="section dashboard">
            <div class="row">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body mt-4">
                            <table class="table table-borderless datatable">
                                <thead>
                                    <tr>
                                        <th class="col-1 text-center">#</th>
                                        <th class="col-3 text-center">MenuName</th>
                                        <th class="col-2 text-center">Levels</th>
                                        <th class="col-2 text-center">ParentID</th>
                                        <th class="col-1 text-center">Order</th>
                                        <th class="col-1 text-center">Visible</th>
                                        <th class="col-1 text-center">Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td class="text-center" scope="row">@item.MenuId</td>
                                            <td class="text-left text-primary" scope="row"><a asp-area="Admin"
                                                    asp-controller="Menu" asp-action="Details"
                                                    asp-route-id="@item.MenuId">@item.MenuName</a></td>
                                            <td class="text-center" scope="row">@item.Levels</td>
                                            <td class="text-center" scope="row">@item.ParentId</td>
                                            <td class="text-center" scope="row">@item.MenuOrder</td>
                                            <td class="text-center" scope="row">@item.IsActive</td>
                                            <td class="text-center" scope="row">
                                                <a asp-area="Admin" asp-controller="Menu" asp-action="Edit"
                                                    asp-route-id="@item.MenuId" class="btn btn-primary btn-sm"
                                                    title="Edit the menu"><i class="bi bi-pencil"></i></a>
                                                <a asp-area="Admin" asp-controller="Menu" asp-action="Delete"
                                                    asp-route-id="@item.MenuId" class="btn btn-danger btn-sm"
                                                    title="Delete the menu"><i class="bi bi-trash"></i></a>
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </p>
    </div>
</main>