@model TechNews.Areas.Admin.Models.SummerNote

@if (Model.LoadLibrary)
{
    <script src="~/admin/lib/snote/jquery.min.js"></script>
    <script src="~/admin/lib/snote/bootstrap.bundle.min.js"></script>
    <link href="~/admin/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/admin/lib/snote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/admin/lib/snote/summernote-bs4.css" />

    <link href="~/admin/lib/jqueryui/themes/themes/base/theme.css" rel="stylesheet" />
    <link href="~/admin/lib/jqueryui/themes/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/admin/lib/elFinder/css/elfinder.full.css" rel="stylesheet" />
    <link href="~/admin/lib/elFinder/css/theme.css" rel="stylesheet" />

    <script src="~/admin/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/admin/lib/elFinder/js/elfinder.min.js"></script>
}

<script>
    (function (factory) {
        if (typeof define === 'function' && define.amd) {
            define(['jquery'], factory);
        }
        else if (typeof module === 'object' && module.exports) {
            module.exports = factory(require('jquery'));
        } else {
            factory(window.jQuery);
        }
    }(function ($) {
        $.extend($.summernote.plugins, {
            'elfinder': function (context) {
                var self = this;
                var ui = $.summernote.ui;
                context.memo('button.elfinder', function () {
                    var button = ui.button({
                        contents: '<i class="note-icon-picture"/>&nbsp;&nbsp;Images',
                        tooltip: 'Quản lý ảnh',
                        click: function () {
                            elfinderDialog(context);
                        }
                    });
                    var $elfinder = button.render();
                    return $elfinder;
                });
                this.destroy = function () {
                    this.$panel.remove();
                    this.$panel = null;
                };
            },
            'elfinderFiles': function (context) {
                var self = this;
                var ui = $.summernote.ui;
                context.memo('button.elfinderFiles', function () {
                    var button = ui.button({
                        contents: '<i class="note-icon-link"/>&nbsp;&nbsp;Link',
                        tooltip: 'Quản lý tệp liên kết',
                        click: function () {
                            elfinderDialogFiles(context);
                        }
                    });
                    var $elfinderFiles = button.render();
                    return $elfinderFiles;
                });
                this.destroy = function () {
                    this.$panel.remove();
                    this.$panel = null;
                };
            }

        });
    }));

    function elfinderDialog(editor) {
        var fm = $('<div/>').dialogelfinder({
            baseUrl: "@Url.Content("~/admin/lib/elFinder/")",
            url: "@Url.Action("Connector", "FileManager")",
            lang: 'vi',
            width: 940,
            height: 550,
            destroyOnClose: true,
            getFileCallback: function (files, fm) {
                console.log(files);
                editor.invoke('editor.insertImage', files.url);
            },
            commandsOptions: {
                getfile: {
                    oncomplete: 'close',
                    folders: false
                }
            },
            uiOptions: {

                toolbar: [
                    ['home', 'back', 'forward', 'up', 'reload'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download', 'getfile'],
                    ['undo', 'redo'],
                    ['copy', 'cut', 'paste', 'delete'],
                    ['duplicate', 'rename', 'edit', 'resize', 'chmod'],
                    ['selectall', 'selectnone', 'selectinvert'],
                    ['quicklook', 'info'],
                    ['extract', 'archive'],
                    ['search'],
                    ['view', 'sort'],
                    ['fullscreen']
                ]
            },
            contextmenu: {
                navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],
                cwd: ['reload', 'back', '|', 'upload', 'mkdir', 'mkfile', 'paste', '|', 'info'],
                files: [
                    'getfile', '|', 'open', 'quicklook', '|', 'download', '|', 'copy', 'cut', 'paste', 
                    'duplicate', '|', 'rm', '|', 'edit', 'rename', 'resize', '|', 'archive', 'extract', '|', 'info'
                ]
            },
            height: '80%',
            onlyMimes: ["image"],
        }).dialogelfinder('instance');
    }

    function elfinderDialogFiles(editor) {
        var fm = $('<div/>').dialogelfinder({
            baseUrl: "@Url.Content("~/admin/lib/elFinder/")",
            url: "@Url.Action("Connector", "FileManager")",
            lang: 'vi',
            width: 940,
            height: 550,
            destroyOnClose: true,
            getFileCallback: function (files, fm) {
                console.log(files);
                editor.invoke('editor.pasteHTML', '<span><a class="btn btn-success" target="_blank" href="' + 
                                files.url + '"><i class="bi bi-cloud-arrow-down"></i>&nbsp;Tải tệp </a></span>');
            },
            commandsOptions: {
                getfile: {
                    oncomplete: 'close',
                    folders: false
                }
            },
            uiOptions: {

                toolbar: [
                    ['home', 'back', 'forward', 'up', 'reload'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download', 'getfile'],
                    ['undo', 'redo'],
                    ['copy', 'cut', 'paste', 'delete'],
                    ['duplicate', 'rename', 'edit', 'resize', 'chmod'],
                    ['selectall', 'selectnone', 'selectinvert'],
                    ['quicklook', 'info'],
                    ['extract', 'archive'],
                    ['search'],
                    ['view', 'sort'],
                    ['fullscreen']
                ]
            },
            contextmenu: {
                navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],
                cwd: ['reload', 'back', '|', 'upload', 'mkdir', 'mkfile', 'paste', '|', 'info'],
                files: [
                    'getfile', '|', 'open', 'quicklook', '|', 'download', '|', 'copy', 'cut', 'paste', 'duplicate', '|',
                    'rm', '|', 'edit', 'rename', 'resize', '|', 'archive', 'extract', '|', 'info'
                ]
            },
            height: '80%',
            
        }).dialogelfinder('instance');
    }

    function openDialog() {
        var fm = $('<div/>').dialogelfinder({
            baseUrl: "@Url.Content("~/admin/lib/elFinder/")",
            url: "@Url.Action("Connector", "FileManager")",
            lang: 'vi',
            width: 940,
            height: 550,
            destroyOnClose: true,
            closeOnEditorCallback: true,
            getFileCallback: function (files) {
                document.getElementById('file_input').value = files.url;
            },
            commandsOptions: {
                getfile: {
                    oncomplete: 'close',
                    folders: false
                }
            },
            uiOptions: {
                toolbar: [
                    ['home', 'back', 'forward', 'up', 'reload'],
                    ['mkdir', 'mkfile', 'upload'],
                    ['open', 'download', 'getfile'],
                    ['undo', 'redo'],
                    ['copy', 'cut', 'paste', 'delete'],
                    ['duplicate', 'rename', 'edit', 'resize', 'chmod'],
                    ['selectall', 'selectnone', 'selectinvert'],
                    ['quicklook', 'info'],
                    ['extract', 'archive'],
                    ['search'],
                    ['view', 'sort'],
                    ['fullscreen']
                ]
            },
            contextmenu: {
                navbar: ['open', '|', 'copy', 'cut', 'paste', 'duplicate', '|', 'rm', '|', 'info'],
                cwd: ['reload', 'back', '|', 'upload', 'mkdir', 'mkfile', 'paste', '|', 'info'],
                files: [
                    'getfile', '|', 'open', 'quicklook', '|', 'download', '|', 'copy', 'cut', 'paste', 'duplicate', '|',
                    'rm', '|', 'edit', 'rename', 'resize', '|', 'archive', 'extract', '|', 'info'
                ]
            },
            onlyMimes: ["image"],
        }).dialogelfinder('instance');
    }

    $(document).ready(function () {
        $('@Model.IDEditor').summernote({
            height: @Model.Height,
            toolbar: @Html.Raw(Model.toolBar),
        });
    });

</script>