@using TechNews.Models
@model IList<AdminMenu>

<aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        @foreach (var item in Model.Where(m => m.Level == 1).OrderBy(m => m.MenuOrder).Select(m => m))
        {
            var pID = item.MenuId;
            var sMenu = Model.Where(p => p.ParentId == pID).OrderBy(p => p.MenuOrder).ToList();
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#@item.Target" @(sMenu.Count > 0 ? "data-bs-toggle=collapse" : "") href="/Admin/@item.ControllerName/@item.ActionName">
                    <i class="@item.Icon"></i>
                    <span>@item.MenuName</span>
                    @if (sMenu.Count > 0)
                    {
                        <i class="bi bi-chevron-down ms-auto"></i>
                    }
                </a>
                @if (sMenu.Count > 0)
                {
                    <ul id="@item.Target" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        @foreach (var smn in sMenu)
                        {
                            <li>
                                <a href="/Admin/@smn.ControllerName/@smn.ActionName">
                                    <i class="bi bi-circle"></i><span>@smn.MenuName</span>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</aside>
